.tippy_menu_video {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 0.8rem;
  .btn_wrapper {
    height: 2.5rem;
    width: 100%;
  }
}

.tippy_menu_button {
  padding: 0.75rem 0rem;
}
