.watch_active_metadata {
  margin-top: 12px;
  margin-bottom: 24px;
  display: block;
  .title {
    h1 {
      margin-left: -1.2rem;
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }
  .top_row {
    margin-top: -4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .channel_info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .upload_info {
    margin-left: -2rem;
    flex-direction: column;
    display: flex;
    margin-right: 24px;
  }
  img {
    width: 50%;
    border-radius: 50%;
  }

  .channel_name {
    display: flex;
    flex-direction: row;
    span {
      font-weight: 600;
    }
    .checked_channel {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 4px;
    }
  }

  .owner_sub_count {
    color: gray;
    font-size: 0.8rem;
  }

  .btn-subscribe {
    margin-top: 6px;
    border-radius: 20rem;
    background-color: #000000;
    color: white;
    font-weight: 600;
  }

  .btn-subscribe:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .btn-subscribed {
    border: none;
    border-radius: 2rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .subscribe_bell {
      margin-right: 6px;
    }
    .subscribe_expand {
      margin-left: 6px;
    }
    span {
      font-weight: 600;
    }
  }

  .btn_like {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 0.5rem;
    border: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    span {
      font-weight: 500;
    }
  }

  .btn_like::after {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 6px;
    height: 24px;
    width: 1px;
  }

  .btn_like:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .btn_dislike:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .btn_dislike {
    background-color: rgba(0, 0, 0, 0.05);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: none;
    padding: 0.5rem;
    align-items: center;
    display: flex;
  }

  .btn_share {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 40rem;
    border: none;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    span {
      font-weight: 500;
    }
  }

  .btn_share:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .display_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .btn_donate {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 40rem;
    border: none;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    span {
      font-weight: 500;
    }
  }

  .action_feedback {
    height: 36px;
    padding: 0 12px;
  }

  .btn_donate:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .btn_more {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 40rem;
    border: none;
    padding: 0.5rem;
    align-items: center;
    display: flex;
  }

  .btn_more:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .container_describe {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 1rem 1rem;
    &:not(.active):hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  .bottom_row {
    margin-top: 1rem;
  }

  .btn_show_hide_more {
    font-weight: 600;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  .header_description {
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    font-weight: 500;
  }
}

.tippy_box_header {
  background-color: rgba($color: #707070, $alpha: 0.9);
}
