.item_search {
  padding: 0 24px 0 16px;
  height: 32px;
  display: flex;
  align-items: center;
  white-space: pre;
  cursor: default;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &_icon {
    width: 48px;
    height: 20px;
    padding: 0 10px;
    display: inline-flex;
  }
  &_keyword {
    font-weight: 500;
    text-align: left;
    line-height: 32px;
    font-size: 16px;
    color: #030303;
  }
}
