.app_container {
  display: flex;
  padding-top: 60px;
  // height: 100%;
  .scrollbar + .app_main {
    padding-left: 312px;
  }
  .scrollbar.shrink + .app_main {
    padding-left: 0px;
    .wrapper_category {
      left: 106px;
      max-width: 1398px;
    }
  }
}
