.video_container {
  margin-bottom: 1rem;
  font-size: 16px;
  width: 100%;
  height: 322px;
}

.video_thumbnail {
  position: relative;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
  }
  .duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    line-height: 14px;
    border-radius: 4px;
    color: #fff;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
  }
  &:hover {
    border-radius: 0;
  }
}

.video_thumbnail .duration {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.video_thumbnail:hover .duration {
  opacity: 0;
}

.video_details {
  position: relative;
  cursor: pointer;
  flex: auto;
  display: flex;
  flex-direction: row;
  .avatar {
    height: 36px;
    width: 36px;
    min-width: 36px;
    margin-top: 12px;
    margin-right: 12px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: inherit;
    }
  }

  .video_metadata {
    padding-right: 24px;
    overflow-x: hidden;
    .title {
      color: #0f0f0f;
      margin: 12px 0 4px 0;
      font-size: 1.17em;
      a {
        width: 100%;
        margin: 0;
        display: block;
        max-width: 360px;
        position: relative;
      }
    }
    .additional_medata {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .channel_name {
        max-width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .metadata_line {
        line-height: 1.2rem;
        font-weight: 400;
        overflow: hidden;
        max-height: 4rem;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        display: flex;
        &_item {
          display: inline-block;
        }
      }
    }
  }
}

.metadata_line_item:not(:first-of-type):before {
  content: "•";
  margin: 0 4px;
}

.row > * {
  margin-bottom: 40px;
}
