.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 26px 16px;
  height: 8vh;
  width: 100%;
  height: 56px;
  background-color: #fff;
}

.header_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header_logo {
  height: 40px;
  width: 120px;
  object-fit: contain;
  display: flex;
  cursor: pointer;
}

.header_countrycode {
  color: #606060;
  margin: 2px 0 0 5px;
  font-size: 10px;
}

.header_menu_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.header_actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
  .avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-left: 5px;
    cursor: pointer;
  }
}

.yt_btn {
  background: transparent;
  border: none;
}

.action_btn {
  margin-right: 8px;
  height: 40px;
  width: 40px;

  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 550px) {
  .header {
    padding: 1rem;

    &_menu {
      display: block;
    }
    &_logo {
      display: none;
    }
    &_actions > *:not(img) {
      display: none;
    }
  }
}

// masthead login
.youtube_masthead {
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.masthead {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topbar_login {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.topbar_login_shape {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 130px;
  min-width: 140px;
  height: 36px;
  color: #065fd4;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  &:hover {
    background-color: #def1ff;
    border: none;
  }
}

.topbar_login_icon {
  fill: #065fd4;
  margin-right: 6px;
  align-items: center;
  display: flex;
}

.topbar_login_content {
  font-size: 14px;
  line-height: 36px;
  font-weight: 600;
}

.tippy_box {
  background-color: #707070;
  padding: 3px 0px 3px 0px;
  font-weight: 400;
  font-size: 12px;
}
