.comments_section {
  .header_comment {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 32px;
    &_title {
      margin-bottom: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .btn_title {
        margin: 0;
      }
    }
    .simple_box {
      margin-right: 16px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

.count {
  display: inline-block;
  margin: 0 32px 0 0;
}

.comment_header_renderer {
  font-size: 16px;
  line-height: 2.2rem;
  font-weight: 400;
}

.sort_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  .dropdown_menu {
    margin-right: 8px;
  }
  span {
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 500;
  }
}

.author_thumbnail {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
  &.reply_comment {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
  }
}

.author_comment {
  width: 100%;
  .input_container {
    position: relative;
    padding-bottom: 8px;
  }

  input {
    position: relative;
    flex: 1 1;
    height: 100%;
    width: 100%;
    caret-color: #0f0f0f;
    caret-shape: auto auto 4px;
    color: #0f0f0f;
    background-color: transparent;
    border: none;
    font-weight: 400;
    outline: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #606060;
    &:focus {
      outline: none;
      border-bottom: 2px solid #606060;
    }
  }
}

.comment_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .actions {
    display: flex;
    flex-direction: row;
    .btn_action {
      margin-left: 8px;
      button {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 36px;
        font-size: 14px;
        line-height: 36px;
        border-radius: 18px;
        border: none;
        background-color: transparent;
        font-weight: 500;
        &:not([disabled]):not(.unhide) {
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          &:active {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
      .hide {
        background-color: rgba(0, 0, 0, 0.05);
      }
      .unhide {
        color: #fff;
        background-color: #065fd4;
        &:hover {
          background-color: #0556bf;
        }
      }
    }
  }
  .btn_shape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.comment_item {
  display: block;
  margin-bottom: 16px;
}

.comment_thread {
  position: relative;
  display: flex;
  flex-direction: row;
  .comment_channel {
    height: 40px;
  }
  .menu_comment {
    fill: transparent;
  }
  &:hover {
    .menu_comment {
      fill: #030303;
    }
  }
}

#main.comment_render {
  min-width: 0;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: column;
}

#header.comment_render {
  margin-bottom: 2px;
}

#header_author.comment_render {
  display: flex;
  flex-direction: row;
  height: 20px;
  margin-bottom: 2px;
  align-items: baseline;
}

#header_comment_badge.comment_render {
  background-color: transparent;
  border-radius: 12px;
  padding-right: 4px;
  max-width: 100%;
  height: inherit;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  a {
    cursor: pointer;
    text-decoration: none;
    max-height: 1.8rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8rem;
  }
  .channel_tick {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-top: 4px;
    .icon {
      width: 100%;
      height: 100%;
      fill: #030303;
    }
  }
}

#header_comment_publish_date.comment_render {
  font-size: 12px;
  line-height: 1rem;
  font-weight: 400;
  white-space: nowrap;
  a {
    color: #606060;
  }
}

#comment_content.comment_render {
  span {
    color: #0f0f0f;
    font-size: 16px;
    line-height: 1rem;
    font-weight: 400;
    overflow-wrap: anywhere;
  }

  .btn_show_hide_comment {
    margin: 4px 0 0 0;
    font-weight: 500;
    color: #606060;
    text-decoration: none;
    display: block;
    width: fit-content;
    cursor: pointer;
  }
}

#action_menu.comment_render {
  min-width: 40px;
  .btn_menu_comment {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
}

#actions.comment_render {
  margin-top: 4px;
  .toolbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #606060;
    .btn_like {
      margin-left: -8px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .comment_action_render {
      border: none;
      background-color: transparent;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .vote_count_middle {
      display: inline-block;
      margin-right: 8px;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 1rem;
      font-weight: 400;
    }
    .btn_reply {
      margin-left: 8px;
      color: #0f0f0f;
      font-size: 16px;
      line-height: 1.6rem;
      font-weight: 500;
      border: none;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      &_text {
        position: relative;
        padding: 0 12px;
        height: 32px;
        font-size: 12px;
        line-height: 32px;
        border-radius: 16px;
        white-space: nowrap;
        background-color: none;
        border-radius: 16px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.replies {
  display: block;
  margin-left: 56px;
}

#expander.comment_render {
  display: block;
  text-transform: none;
  .more_replies,
  .reply_contents {
    margin-left: -16px;
    .btn_expand_comment {
      border: none;
      background-color: transparent;
      font-size: 16px;
      line-height: 2rem;
      font-weight: 500;
      color: #065fd4;
      height: 36px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 18px;
      padding: 0 14px;
      .reply_comment {
        display: flex;
        align-items: center;
        margin-right: 6px;
        fill: currentColor;
      }
      &:hover {
        background-color: #def1ff;
      }
    }
  }
}

#emojis.comment_box {
  margin-top: 10px;
  padding-bottom: 16px;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  .EmojiPickerReact {
    border: none;
  }
}
