.wrapper {
  width: 300px;
  padding: 10px 0 26px 10px;
  // height: 300px;
  position: sticky;
  top: 60px;
  overflow-y: hidden;
}

.wrapper.shrink {
  width: 70px;
  padding: 10px 0 14px 0;
  margin-left: 4px;
  position: sticky;
  top: 60px;

  &:hover {
    overflow: hidden;
  }
}

.wrapper:hover {
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-track {
  background: #fff;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 15px;
}
