.header_center {
  flex: 0 1 728px;
  min-width: 0;
  min-width: 0px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
}
.keyboard {
  line-height: 24px;
  width: 30px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.clear_search {
  height: 24px;
  width: 24px;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn_clear {
    min-width: 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.touch_response {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  height: 40px;
  min-width: 40px;
  margin-left: 10px;
  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.search {
  position: relative;
  display: flex;
  width: 650px;
  background-color: var(--white-primary);
  height: 40px;
  &_input {
    display: flex;
    flex-direction: row;
    width: 100%;
    input {
      flex: 1;
      height: 100%;
      width: 100%;
      caret-color: #000;
      color: var(--text-primary-color);
      background-color: transparent;
      padding-right: 40px;
      border: none;
      font-weight: 400;

      &:focus {
        outline: none;
      }
    }
    input:not(:placeholder-shown) ~ .search_btn {
      color: rgba(22, 24, 35, 0.75);
    }
  }
}

.container_search_box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 1e-9px;
  align-items: center;
  padding: 0px 4px 0px 16px;
  margin-left: 32px;
  border: 1.5px solid rgba(22, 24, 35, 0.2);
  box-shadow: inset 0 1px 2px #eee;
  border-right: none;
  border-radius: 40px 0 0 40px;
  &:focus-within {
    margin-left: 0;
    padding: 2px 4px 2px 48px;
    border: 1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    .search_icon_box {
      padding: 0 12px 0 16px;
      width: 48px;
      height: 20px;
      display: inline-flex;

      svg {
        fill: #030303;
      }
    }
  }
}

.search_icon_box {
  display: none;
  position: absolute;
  left: 0;
  color: #030303;
  padding: 0 10px;
}

.search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--search-button-width);
  height: 100%;
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  border-radius: 0 40px 40px 0;
  font-size: 1.8rem;
  &:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
.search_result {
  width: calc(650px - var(--search-button-width));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  border-radius: 12px;
  border: 1px solid #ccc;
  border-top: 0;
  cursor: default;
}

.menu_search_popper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 734px;
  border-radius: 8px;
  padding: 16px 0 8px;
}
.search_report {
  line-height: 12px;
  cursor: pointer;
  span {
    float: right;
    font-size: 12px;
    padding-right: 14px;
    font-style: italic;
  }
}
