.search {
  position: relative;
  width: 650px;
  display: flex;
  border-radius: 40px;
  border: 1.5px solid rgba(22, 24, 35, 0.2);
  background-color: var(--white-primary);
  box-shadow: inset 0 10px 10px -16px rgba(58, 58, 58, 0.5);
  height: 40px;

  input {
    flex: 1;
    height: 100%;
    width: 100%;
    caret-color: #000;
    color: var(--text-primary-color);
    background-color: transparent;
    padding-right: 40px;
    padding-left: 15px;
    border: none;
    font-weight: 400;

    &:focus {
      outline: none;
    }
  }
  input:not(:placeholder-shown) ~ .search_btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: "";
    position: absolute;
    right: var(--search-button-width);
    width: 0.8px;
    height: 100%;
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: #065fd4;
  }
}

.search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--search-button-width);
  height: 100%;
  border: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 1.8rem;
  background-color: #f8f8f8;
  &:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
