:root {
  --text-primary-color: #0f0f0f;

  --black-primary: #16181b;
  --black-secondary: #121417;
  --border-color: #4c4c4c;

  --search-border-radius: 40px 0 0 40px;
  --search-height: 46px;
  --search-button-width: 64px;

  --white-primary: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--white-primary);
  background-attachment: fixed;
  color: var(--text-primary-color);
  letter-spacing: 0.1px;
}

a {
  color: var(--text-primary-color);
  text-decoration: none;
  &:hover {
    color: var(--text-primary-color);
  }
}
