.menu_item {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 12px;
  font-size: 14px;
  border-radius: 10px;
  color: var(--text-primary-color);
  text-decoration: none;
  transition: background-color ease-in-out 200ms;
  width: 220px;
  &.active {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--text-primary-color);
    font-weight: 600;
    .icon {
      display: none;
    }

    .active_icon {
      display: flex;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &:hover {
    color: var(--text-primary-color);
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.menu_item.menu_shrink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  font-size: 9px;
  border-radius: 10px;
  color: var(--text-primary-color);
  text-decoration: none;
  transition: background-color ease-in-out 200ms;
  width: 100%;
  height: 74px;
  &.active {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--text-primary-color);
    font-weight: 600;
    .icon {
      display: none;
    }

    .active_icon {
      display: flex;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &:hover {
    color: var(--text-primary-color);
    background-color: rgba(0, 0, 0, 0.05);
  }
  .title {
    padding-top: 5px;
    margin: 0;
  }
}

.title {
  margin-left: 24px;
}

.icon,
.active_icon {
  display: flex;
}

.active_icon {
  display: none;
}
